cxf-soap-secure-wsstar-policy/cxfss-root/cxfss-wsdl-1st/src/main/resources/wsdl/GetMyObjectService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GetMyObjectService" targetNamespace="http://get_my_object_soap_ws_1_0.cxfss.example.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://get_my_object_soap_ws_1_0.cxfss.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <wsdl:types>
    <xs:schema 
            xmlns:tns="http://get_my_object_soap_ws_1_0.cxfss.example.com/" 
            xmlns:xs="http://www.w3.org/2001/XMLSchema" 
            attributeFormDefault="unqualified" 
            elementFormDefault="unqualified" 
            targetNamespace="http://get_my_object_soap_ws_1_0.cxfss.example.com/">
      <xs:element name="myObject" type="tns:myObject"/>
      <xs:complexType name="myObject">
        <xs:sequence>
          <xs:element name="map">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string"/>
                      <xs:element minOccurs="0" name="value" type="xs:string"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="key" nillable="true" type="xs:string"/>
      <xs:element name="valueResponse" nillable="true" type="xs:string"/>
      <xs:element name="MyObjectResponse" nillable="true" type="tns:myObject"/>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="getMyObjectResponse">
    <wsdl:part name="MyObjectResponse" element="tns:MyObjectResponse"/>
  </wsdl:message>
  <wsdl:message name="getMyObjectValue">
    <wsdl:part name="key" element="tns:key"/>
  </wsdl:message>
  <wsdl:message name="getMyObjectValueResponse">
    <wsdl:part name="valueResponse" element="tns:valueResponse"/>
  </wsdl:message>
  <wsdl:message name="getMyObject"/>

  <wsdl:portType name="GetMyObjectService">
    <wsdl:operation name="getMyObjectValue">
      <wsdl:input name="getMyObjectValue" message="tns:getMyObjectValue"/>
      <wsdl:output name="getMyObjectValueResponse" message="tns:getMyObjectValueResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getMyObject">
      <wsdl:input name="getMyObject" message="tns:getMyObject"/>
      <wsdl:output name="getMyObjectResponse" message="tns:getMyObjectResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="GetMyObjectServiceSoapBinding" type="tns:GetMyObjectService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMyObjectValue">
      <soap:operation soapAction="http://get_my_object_soap_ws_1_0.cxfss.example.com/getMyObjectValue" style="document"/>
      <wsdl:input name="getMyObjectValue">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMyObjectValueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMyObject">
      <soap:operation soapAction="http://get_my_object_soap_ws_1_0.cxfss.example.com/getMyObject" style="document"/>
      <wsdl:input name="getMyObject">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMyObjectResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="GetMyObjectService">
    <wsdl:port name="GetMyObjectServicePort" binding="tns:GetMyObjectServiceSoapBinding">
      <soap:address location="http://localhost:8181/cxf/GetMyObjectService"/>

      <!--wsp:Policy wsu:Id="UserNameOverTransportPolicy"-->
      <wsp:Policy wsu:Id="UserNamePolicy"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
        <wsp:ExactlyOne>
          <wsp:All>
            <!--sp:TransportBinding
              xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
              <wsp:Policy>
                <sp:TransportToken>
                  <wsp:Policy>
                    <sp:HttpsToken RequireClientCertificate="false" />
                  </wsp:Policy>
                </sp:TransportToken>
                <sp:Layout>
                  <wsp:Policy>
                    <sp:Lax />
                  </wsp:Policy>
                </sp:Layout>
                <sp:IncludeTimestamp />
              </wsp:Policy>
            </sp:TransportBinding-->
            <!--sp:SignedSupportingTokens-->
            <sp:SupportingTokens
              xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
              <wsp:Policy>
                <sp:UsernameToken
                  sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                  <wsp:Policy>
                    <sp:WssUsernameToken10 />
                  </wsp:Policy>
                </sp:UsernameToken>
              </wsp:Policy>
            </sp:SupportingTokens>
            <!--/sp:SignedSupportingTokens-->
          </wsp:All>
        </wsp:ExactlyOne>
      </wsp:Policy>

    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
